// Colors

$color-primary: #58e1c1;
$color-secondary: #51ddfc;
$white: #fff;
$dark-grey: #777;
$light-grey: #ccc;
$btn-color-default: #51ddfc;
$btn-color-error: #e4757a;
$btn-color-info: #927bc1;
$btn-color-success: #63cc82;
$btn-color-warning: #fd7856;

// Breakpoints

$breakpoints: (
    'med': 768px
);