.container {
    padding: 0 10px;
    @media (min-width: 768px) {
        max-width: 1400px;
        @include center;
    }
}

.centered {
  @include mq('med') {
    @include center;
  }
}

.row {
  display: flex;
  flex-direction: column;
  padding: 1em 10px;
  @media (min-width: 768px) {
      flex-direction: row;
  }
}

[class^=col] {
  margin-top: 10px;
  flex-basis: 100%;
  min-height: 25px;
  padding: 10px;
  border-radius: 5px;
  @media (min-width: 768px) {
      display: flex;
      justify-content: center;
      margin-top: 0;
      align-items: center;
      &+[class^=col] {
        margin-left: 10px;
      }
  }
}

@function basis($col, $percent) {
  @return $col * $percent;
}

@media (min-width: 768px) {
@for $i from 1 through 12 {
    .col-#{$i} {
      flex-basis: basis($i, 8.334%);
    }
  }
}
// @function width-vary($i , $base: 8.33%) {
//   @return calc(#{$i} * $base);
// }
// @media (min-width: 768px) {
//   @for $i from 1 through 12 {
//     .col-#{$i} {
//         flex-basis: calc(#{$i} * 8.33%);
//     }
//   }
// }

@each $col, $color in $themes {
  .theme.col-#{$col} {
    background-color: $color;
  }
}

.card {
  flex-basis: 100%;
}  

.img-avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  max-width: 100%; 
  max-height: 100%;
}

.img-frame {
  @include center;
  margin-top: 10px;
  max-width: 100%;
  padding: 13px;
  border: 1px solid $light-grey;
}

.img-logo {
  @include center;
}

.logo {
  @include mq('med') {
    @include margin;
  }
}